
/*
  CSS code for Navigation Bar.
*/
#navbar {
  width: 100%;
  height: 80px;
  background-color: #222222;
  text-align: center;
  position: fixed;
  top: 0; left: 0;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  overflow: hidden;
  transition: 0.5s;
}

#links {
  width: 100%;
  margin-top: 35px;
}

#navbar li {
  display: inline-block;
  width: auto;
  position: relative;
}

#navbar a {
  padding: 15px;
  color: whitesmoke;
  text-decoration: none;
  vertical-align: bottom;
  border-bottom: 3px solid #222222;
}

#navbar a:hover {
  border-bottom: 3px solid #1e90ff;
}

/*
  CSS code for web page body.
*/
#container {
  width: 100%;
  text-align: center;
  padding: 0 30px;
  background-color: #e5e4e2;
}

#content {
  width: 800px;
  padding: 60px 30px;
  display: inline-block;
  background-color: white;
  margin-top: 75px;
}

/* Contact Me section. */
.contact {
  width: auto;
  display: inline-block;
  padding: 5px;
}

.contact img {
  display: inline-block;
  vertical-align: bottom;
}

.contact a {
  margin-left: 5px;
  display: inline-block;
  vertical-align: bottom;
}

/* About Me section.*/
#pictures {
  font-size: 0;
}

#pictures img {
  width: 50%;
  padding: 10px;
}

#one {
  float: left;
}

#two {
  float: right;
}

#three {
  float: left;
}

#career {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
}

/* Individual item section. */
.section {
  width: 100%;
  text-align: start;
  margin-bottom: 30px;
}

.section h3 {
  color: #1e90ff;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}

.section p, li {
  color: #696969;
}

.codestack {
  font-style: italic;
  font-weight: lighter;
}

.subject {
  display: inline-block;
  vertical-align: top;
  left: 0; top: 0;
}

.date {
  float: right;
  font-style: italic;
  font-weight: lighter;
  vertical-align: top;
}

.bullets {
  width: 100%;
  font-size: 0;
}

.bullets ul {
  font-size: medium;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.divide {
  border-bottom: dotted 1px #696969;
  padding-bottom: 15px;
}

@media only screen and (max-width: 1000px) {
  #container {
    padding: 0;
  }
  #content {
    width: 100%;
  }
  p, a, li {
    font-size: 24px;
  }
  h1 {
    font-size: 56px;
  }
  h3 {
    font-size: 46px;
  }
  h5 {
    font-size: 36px;
  }
  .section {
    margin-bottom: 60px;
  }
}